/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #222;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar image */
.sidebar .logo-img {
    width: 100%;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #18b776;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.reports-subnav {
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/*@media screen and (max-width: 400px) {*/
/*    .sidebar a {*/
/*        text-align: center;*/
/*        float: none;*/
/*    }*/
/*}*/
