.reports-subnav {
    position: fixed;
    top: 0;
    left: 50px;
    min-width: 250px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
}

.reports-subnav .btn {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.reports-subnav .report-collection-item i,
.btn-save-report i {
    margin-right: 10px;
}

.reports-collection-content {
    display: flex;
    flex-direction: column;
}

.report-collection-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-collection-item:hover i.fa-ellipsis-vertical {
    opacity: 1;
}

.report-collection-item i.fa-ellipsis-vertical {
    opacity: 0;
}

.reports-collection-content .report-collection-item,
.btn-reports-collection {
    padding: 10px 15px 10px 15px;
    color: #333;
    text-decoration: none;
}

.btn-reports-subnav {
    padding: 20px 45px 30px 15px;
}

.btn-reports-subnav i {
    margin: 0 5px 0 10px;
}

.btn-reports-collection {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.btn-reports-collection i {
    margin-left: 5px;
}

.btn-report-menu-button i.fa-ellipsis-vertical {
    margin-right: 0;
}

.btn-save-report {
    display: flex;
    padding: 10px 15px 10px 15px;
    color: #18b776;
}

.btn-save-report i,
i.fa-file {
    margin-left: 3px;
}
