.report-menu {
    position: relative;
    display: inline-block;
}

.report-menu-content {
    display: none;
    position: absolute;
    top: 30px;
    left: -150px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.report-menu-item {
    padding: 10px 5px 10px 10px;
    min-width: 160px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    color: #333;
    text-decoration: none;
}

.report-menu-item:hover {
    background-color: #eee;
}

.report-name-form {
    display: inline-block;
}
