@import 'includes/sidebar.css';
@import 'includes/subnav.css';
@import 'includes/report-menu.css';

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Calibri', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

div.content {
    margin-left: 0;
    background-color: #eee;
}

.hide {
    display: none;
}

.show {
    display: block;
}
